

.header-container {
    background-color: #4CAF50;
    align-items: center;
    height: 80px;
    color: white; 
    text-align: center; 
}

.header-container img {
    width: 60px; 
    height: auto; 
    margin-right: 1px; 
}
.header-container nav {
    margin-left: 200px; 
}

.nav_tab{
    width: 100%;
    height: 50px;
}
.nav_tab th, td, p{
    vertical-align: bottom;
}
.pet{
    font-size: 2em;
    vertical-align: bottom;
    width: 20%;
}
.bottom_nav{
    width: 700px;
    margin: auto;
}
.blank{
    width: 450px;
}
.export{
    width:5%;
}

.warn2{
    width:70%;
}
.warning{
    width: 250px;
    margin: auto;
}
.edit_button{
    width:10%;
}
.head {
    margin-right: auto; 
    margin-left: 5px; 
    vertical-align: top;

}
.table-container {
    max-height: 300px; 
    overflow-y: auto; 
    width: 700px; 
    border: 1px solid #ccc;
}
.table-header {
    background-color: #f1f1f1; 
    position: sticky;
    width: 700px;  
    top: 0;
    z-index: 10; 
}
.table-body {
    width: 700px;
    max-height: 250px; 
    overflow-y: auto; 
}
.data_tab {
    border-collapse: collapse;
    margin-right: auto; 
    margin-left: auto; 
}
.data_tab th,
td {
    text-align: left;
    padding: 8px;
}

.data_tab tr:nth-child(even) {
    background-color: Lightgreen;
}

.filter {
    margin-left: 45%; 

}
.warning{
    margin-left:35%; 
}

.name_head{
    width: 162px;
}
.name_row{
    width: 160px;
}
.Price_head{
    width: 57px;
}
.Price_row{
    width: 56px;
}

.Quan_head{
    width:115px;
}
.Quan_row{
    width:120px;
}
.loc_row{
    width:120px;
}
.loc_head{
    width:119px;
}
.edit_head{
    width:103px;
}

.edit_button{
    width:100px;
}
.Del_button{
    width:60px;
}

.del_head{
    width:77px;
}