{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pet Supplies Inventory{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header-container">
        <img src="{% static 'icons/header_image.jpg' %}" alt="Header Background" class="header-bg">
        <div class="header-content">
            <div class="header-left">
                <img src="{% static 'icons/TLeafLogo2sm.png' %}" alt="T Leaf Logo" class="logo">
                <div class="header-title">Pet Supplies</div>
            </div>
            <div class="header-subtitle">Inventory Management System</div>
            <div class="header-right">
                {% if user.is_authenticated %}
                    <span class="welcome-text">Welcome, {{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="header-button">Logout</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin_settings' %}">
                            <img src="{% static 'icons/settinggear.svg' %}" alt="settign gear" class="logo">
                        </a>
                    {% else %}
                         <p></p>
                    {% endif %}
                    
                {% else %}
                    <a href="{% url 'login' %}" class="header-button">Login</a>
                {% endif %}

            </div>
        </div>
    </header>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html> 

<!--Hello world 5/1/2025-->