{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Supply</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-container">
        <img src="{% static 'icons/TLeafLogo2sm.png' %}" alt="T Leaf Logo">
        <h1>Edit Supply</h1>
        </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <button type="submit">Update Supply</button>
    </form>
    <a href="{% url 'index' %}">Cancel</a>  
</body>
</html>
