{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Supply</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-container">
        <table class = "nav_tab">
            <tr>
                <td>
    <img src="{% static 'icons/TLeafLogo2sm.png' %}" alt="T Leaf Logo">
</td>

 <td class = "pet">
    <div class = "head">
        Pet Supplies
        </div>
    </td>

<td class = "warn2">
    Inventory Management System
</td>
<td class = "warn2">
    Edit Item 
</td>  
</tr>
</table>
</div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <button type="submit">Update Supply</button>
    </form>
    <a href="{% url 'index' %}">Cancel</a>  
</body>
</html>
