{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Supplies</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to your CSS file -->
</head>
<body>
    <div class="header-container">
        <table class = "nav_tab">
            <tr>
                <td>
    <img src="{% static 'icons/TLeafLogo2sm.png' %}" alt="T Leaf Logo">
</td>

 <td class = "pet">
    <div class = "head">
        Pet Supplies
        </div>
    </td>

<td class = "warn2">
    Inventory Management System
</td>
<td class = "warn2">
    Import Data
</td>  
</tr>
</table>
</div>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="file">Select a CSV file to upload:</label>
            {{ form.file }}  <!-- This will render the file input field -->
        </div>
        <button type="submit">Upload</button>
    </form>
    
    <a href="{% url 'index' %}">Back to Index</a>  <!-- Link to go back to the index page -->
</body>
</html>
