{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low Stock Supplies</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header-container">
        <table class = "nav_tab">
            <tr>
                <td>
    <img src="{% static 'icons/TLeafLogo2sm.png' %}" alt="T Leaf Logo">
</td>

 <td class = "pet">
    <div class = "head">
        Pet Supplies
        </div>
    </td>

<td class = "warn2">
    Inventory Management System
</td>
<td class = "warn2">
    Low Stock
</td>  
</tr>
</table>
</div>
    
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Reorder Point</th>
            </tr>
        </thead>
        <tbody>
            {% for supply in low_stock_items %}
            <tr>
                <td>{{ supply.name }}</td>
                <td>{{ supply.price }}</td>
                <td>{{ supply.quantity }}</td>
                <td>{{ supply.location }}</td>
                <td>{{ supply.reorder_point }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No low stock items.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Back to Inventory</a>
</body>
</html>
